# Project Specific
ignore
**/*.nb
**/*.zip
**/*.pdf
go
gor
history.txt
reference

# Rust
**/Cargo.lock
**/target
**/*.rs.bk
**/build

## Editors/IDEs ##

# CLion
**/.idea

# VS Code
**/.vscode

## MacOS ##
Icon[\r]
.DS_Store

## Windows ##

# Cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

## Linux ##

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
**/ignore
